body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b2f2f;
    background-color: #f2ede2;
    margin: 0;
    padding-left: 220px;
}
nav {
    background-color: #5a3e36;
    color: white;
    width: 200px;
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}
nav ul li a:hover {
    color: #c97c5d;
}

header, main {
    margin-left: 220px;
}

header {
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fdf6f0;
    padding: 4rem 2rem;
    text-align: center;
}


header {
    background-color: #7b4c3a;
    color: #fdf6f0;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.25rem;
}


main.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.menu-section, .events-section {
    background: #fff6f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.menu-section h1, .events-section h1 {
    margin-bottom: 1.5rem;
    color: #5a3e36;
}

.menu-item, .event-item {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.menu-item:hover, .event-item:hover {
    background-color: #f3e8e0;
}

.menu-item h2, .event-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #3b2f2f;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff6f0;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.modal-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.modal-content p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.modal-content img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.close-button, .close-button-event {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
}

header, .intro-text, main.container {
    margin-left: 0;
    margin-right: 2rem;
}
/*description block*/
.intro-text {
    background-color: #fdf6f0;
    padding: 2rem;
    text-align: center;
    font-size: 1.0rem;
    color: #3b2f2f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-left: 30px;
    margin-right: 2rem;
    margin-top: 2rem;
    
    max-width: none;
}